:host {
    display:block;
    height:565px;
    max-width:849px;    
    background-size:cover;
    background-position-x:center;
    background-position-y:center;
    background-repeat:no-repeat;
}

h2, h3 {        
    color:#fff;
    margin: 0px 0px 2.5px 15px;
    padding:0;
    letter-spacing:-0.05em;
    line-height:1em;
    background-color:rgba(0,0,0,0.75);
    position:relative;
    display:inline-block;
    line-height:1.5em;
    padding:0 10px;
}

h3 {
    font-family:Arial, sans-serif;
    text-transform:uppercase;
    font-weight:100;
    font-size:0.7em;
    line-height:2.75em;
    background-color:rgba(243,156,18,0.75);
}

h2 {
    font-family: Arial, sans-serif;
    font-weight:400;
    margin-top:20px;
    font-size:2.5em;
}

